.project {
  display: flex;
  flex-direction: column;
  text-align: left;
  border-radius: 3px;
  padding: 20px;
  gap: 5px;
}

.project:hover {
    background-color: #ffffff80;
    transition: background-color 0.5s;
}