:root {
  --background: #e9e9ff;
  --foreground: rgb(63, 22, 130);
  --accent: rgb(140, 86, 228);
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  text-align: center;
  -webkit-font-smoothing: antialiased;
}

a {
  color: inherit;
  text-decoration: none;
  transition: color 180ms ease;
}

a:hover {
  color: var(--accent);
}

.footer {
  display: flex;
  margin: 50px;
  font-size: 15px;
  gap: 24px;
  justify-content: center;
}

h1 {
    color: cornflowerblue;
}