.page {
  align-items: center;
  justify-items: center;
  min-height: 100svh;
  gap: 64px;
}

.ctas {
  display: flex;
  gap: 16px;
}

.intro {
  text-align: left;
}

.section {
  flex-direction: column;
  align-items: center;
  background-color: #ededf6;
  border: #ddddf3 solid 1px;
  width: 600px;
  height: 600px;
  margin: 0 auto;
  border-radius: 3px;
  padding: 30px;
}